html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div::-webkit-scrollbar, section::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #b6b6b6;
}

div::-webkit-scrollbar-track, section::-webkit-scrollbar-track {
  background-color: transparent;
}